.privacy-container {
    padding: 50px 30px;
    background-color: #f5f5f5;
}

.privacy-title {
    text-align: center;
    color: #004360;
    margin-bottom: 20px;
}

.privacy-paper {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 85%;
    margin: auto;
    padding: 30px;
}

.privacy-section {
    margin-bottom: 30px;
}

.privacy-subtitle {
    color: #FF6B0B;
    margin-bottom: 15px;
    text-align: left;
}

.privacy-content {
    color: #004360;
    white-space: pre-line;
    line-height: 1.6;
    text-align: left;
    font-size: 18px;
}

.privacy-content ul {
    margin-left: 20px;
}

.privacy-content li {
    margin-bottom: 10px;
}

