.establishment {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 100px;
  }
  
  .leftNavBars {
    display: flex;
    justify-content: center; 
  }
  .aboutUsMenu{
    display: none;
  }
  
  .shortInfo {
    align-items: center;
    background-color: rgb(234, 234, 234);
    width: 75%;
    text-align: left;
    padding: 5px 0px; 
    padding-left: 3%;
    color: #004360;
    border-bottom: 5px solid #004360;
    height: 920px;
    padding-top: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
  }
  .popupshortInfo {
    align-items: center;
    background-color: rgb(234, 234, 234);
    text-align: left;
    padding: 5px 0px;
    padding-left: 3%;
    color: #004360;
    border-bottom: 5px solid #004360;
    padding-top: 30px;
    top: 20;
    font-size: 15px;
    width: 100%;
  }
  .shortInfo p {
    padding: 1px;
    font-size: 15px;
    padding-left: 3%; 
    cursor: pointer;
  }
  
  .shortInfo p:hover {
    background-color: #ff6b0b;
    color: #ffffff;
  } 

.title h5{
  font-size: 27px;
  text-align: left;
  color: #ff6b0b;
  font-weight: 500;
  margin-left: 10%;
  margin-top: 30px;
}

.description p{
    text-align: left;
    font-size: 19px;
    margin-left: 10%;
    margin-top: 10px;
}



.agarImage img{
    /* height: 380px; */
    width: 100%;
    background-size: cover;
}

.features{
    width: 90%;
    margin-bottom: 20px;
}

.featuresTitle{
    display: grid;
    grid-template-columns: 10% 15px 78%;
    gap: 1px;
    padding: 1%;
    margin-left: 8%;
}
.features p{
    font-size: 27px;
    text-align: left;
}
.features li{
    font-size: 17px;
    text-align: justify;
    margin-left: 16.4%;
    padding: 5px;
}

.moreFeatures{
    display: grid;
    grid-template-columns: 19% 80%;
    gap: 10px;
    width: 72%;
    margin: auto;
    margin-bottom: 10px;
}

.rightFeatures{
    background-color: rgb(240, 240, 240);
    padding: 5%;
    border-right: 2px solid #ff6b0b;
}

.rightFeatures h6{
    text-align: left;
    font-size: 19px;
    font-weight: 500;
    color: #ff6b0b;
}
.rightFeatures p{
    text-align: justify;
    font-size: 17px;
}

.leftFeatures{
    background-color: rgb(240, 240, 240);
}
.checkIcon{
    font-size: 85px;
    display: flex;
    justify-content: center;
    width: 99%;
    margin: auto;
    margin-top: 8%;
    color: #ff6b0b;
}

.cards{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 5%;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

.topImage{
    /* width: 240px;
    height: 150px; */
    background-size: cover;
}
.topImage img{ 
    height: 80%;
    width: 100%;
    background-size: cover;
}
.topImage p{
    background-color: #ff6b0b;
    color: white;
    padding: 12px;
    font-size: 27px;
    font-weight: 500;
}
.topImage p span{ 
    font-size: 19px;
}


@media screen and (max-width: 900px) {

    .establishment {
      display: grid;
      grid-template-columns: 100%;
      gap: 1%;
      margin-bottom: 100px;
      margin: 10px;
    }
  
    .leftNavBars {
      display: none;
    }
  
    .aboutUsMenu {
      display: block;
      position: fixed;
      top: 10;
      bottom: 30px;
      background-color: #ff6b0b;
      padding: 7px;
      z-index: 100;
      color: #ffffff;
      border-radius: 100px;
      cursor: pointer;
    }
    .description p{
        font-size: 15px;
    }
    .description {
        font-size: 15px;
    }
    .features li{
        font-size: 14px; 
    }

    .rightFeatures p{
        text-align: left;
        font-size: 13px;
    }
  }